:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
}

nav {
  display: flex;
  position: fixed;
  left: 0px;
  max-height: 10vh;
  background: rgb(30, 45, 59);
  transition: 0.2s ease-in-out;
  width: 100%;
  z-index: 1;
}

.logo {
  position: absolute;
  margin-left: 8em;
}

.logo > a > img {
  max-height: 10vh;
}

#logo-links {
  display: none;
}

.nav-links {
  display: flex;
  list-style: none;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: 1%;
  margin-top: 0;
  padding-top: 3.5em;
  padding: auto;
}

.nav-links li {
  position: relative;
  font-size: .8rem;
  padding: 0 1.2em;
}
.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links li a:hover {
  color: rgb(237, 205, 31);
}

.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  top: 25px;
  background-color: rgb(237, 205, 32);
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 0; 
}
.nav-links li a:hover::before {
  width: 80%;
}


.home {
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)), url(/images/workers2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  line-height: 1.2;
}

.home > h1 {
  font-size: 65px;
  color: white;
  text-align: center;
  padding-top: 2em;
  margin-top: 0px;
}

span.arrow {
  position: absolute;
  margin: auto;
  margin-top: 1em;
  right: 0;
  left: 0;
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
  animation: bounce 4s; 
  animation-direction: alternate; 
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
  animation-iteration-count: infinite; 
  transition: all 0.5s ease 0.6s;
}

@keyframes bounce { 
  from { 
      transform: translate3d(0, 0, 0); 
  } 
  to { 
      transform: translate3d(0, 200px, 0); 
  } 
}

.home .arrow:hover {
  cursor: pointer;
  animation: none;
}

.home > span::before,
.home > span::after {
  position: absolute;
  top: -23px;
  content: "";
  height: 30px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
}

.home > span::before {
  left: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  transform:         rotate(-45deg);
}

.home > span::after {
  right: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

.uslugi {
  margin-bottom: 1em;
}

.uslugi > h2, .projekty > .container > h2, .kontakt > .container > h2 {
  margin: 5vh auto;
  text-align: center;
  color: black;
  font-size: 55px;
  max-width: 600px;
  position: relative;
}

.uslugi h2::before {
  content: "";
  display: block;
  width: 150px;
  height: 10px;
  background: rgb(237, 205, 32);
  left: 20px;
  top: 40%;
  position: absolute;
}

.uslugi h2::after {
  content: "";
  display: block;
  width: 150px;
  height: 10px;
  background: rgb(237, 205, 32);
  right: 20px;
  top: 40%;
  position: absolute;
}

.uslugi > .container {
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: rgb(247, 247, 247);
  margin-left: 1em;
  margin-right: 1em;
}

#card-image {
  margin-left: 0px;
  padding-left: 0px;
  width: 100%;
}

.card-image {
  margin-left: 0px;
}

.card-box {
  display: flex;
  flex-direction: column;
}

.card-box > h3 {
  color: rgb(90, 114, 138);
  text-align: center;
  height: 2.5vh;
  padding-left: 1em;
  padding-right: 1em;
 
}

.card-details {
  color: rgb(59, 58, 58);
  list-style: none;
  line-height: 1.8;
  padding-left: 1em;
  padding-right: 1em;
}

.about {
  background-color: rgb(247, 247, 247);
}

.about > .container {
  background-image: url("/images/about-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100%;
  opacity: 80%;
  justify-content: flex-start;
}

.about-box {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 25vw;
  opacity: .9;
  background-color: rgb(247, 247, 247);
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.about-box > span {
  justify-content: right;
  width: 80%;
  line-height: 2;
  color: black;
  font-size: 18px;
}

 .about-box > h2 {
  width: 100%;
  text-align: left;
  color: black;
  font-size: 48px;
  max-width: 600px;
  position: relative;
} 

 .about-box > h2::after {
  content: "";
  display: block;
  width: 150px;
  height: 10px;
  background: rgb(237, 205, 32);
  margin-top: 1vh;
  position: absolute;
} 

.card-details > li {
  font-size: 16px;
}

.about-card {
    background-image: url("/images/about-image.png");
    background-repeat: no-repeat;

  }

.about-box > span {
  font-size: 20px;
}

.projekty {
  margin-bottom: 2em;
}

.projekty > .container > h2 {
  font-size: 48px;
}

.projekty > .container h2::before {
  content: "";
  display: block;
  width: 150px;
  height: 10px;
  background: rgb(237, 205, 32);
  left: -10px;
  top: 40%;
  position: absolute;
}

.projekty > .container h2::after {
  content: "";
  display: block;
  width: 150px;
  height: 10px;
  background: rgb(237, 205, 32);
  right:-10px;
  top: 40%;
  position: absolute;
}

.gallery-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gallery-box {
  flex-direction: column;
}

.gallery-box-2 {
  flex-direction: column;
  margin-left: 2em;
}

.box-image-1 {
  width: 450px;
  height: 50vh;
  background-image: url("/images/house-1.png");
  background-size: cover;
}

.box-image-2 {
  width: 450px;
  height: 50vh;
  margin-top: 2em;
  background-image: url("/images/house-2.png");
  background-size: cover;
}

.box-image-3 {
  width: 450px;
  height: 50vh;
  margin-top: 2em;
  background-image: url("/images/house-3.png");
  background-size: cover;
}

.gallery-box-2 > .box-image-1 {
  width: 450px;
  height: 50vh;
  background-image: url("/images/house-4.png");
  background-size: cover;
}

.gallery-box-2 > .box-image-2 {
  width: 450px;
  height: 50vh;
  background-image: url("/images/house-5.png");
  background-size: cover;
}

.gallery-box-2 > .box-image-3 {
  width: 450px;
  height: 50vh;
  background-image: url("/images/house-6.png");
  background-size: cover;
}

.belt {
  display: flex;
  width: 100%;
  height: 15vh;
  background-image: linear-gradient(0deg, rgb(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0.6) 100%), url("/images/workers2.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2em;
}

.belt-line {
  width: 150px;
  height: 10px;
  background: rgb(237, 205, 32);
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.kontakt > .container > h2 {
  font-size: 48px;
}

.kontakt > .container h2::before {
  content: "";
  display: block;
  width: 150px;
  height: 10px;
  background: rgb(237, 205, 32);
  left: -10px;
  top: 40%;
  position: absolute;
}

.kontakt > .container h2::after {
  content: "";
  display: block;
  width: 150px;
  height: 10px;
  background: rgb(237, 205, 32);
  right:-10px;
  top: 40%;
  position: absolute;
}

.googlemap {
width: 50vw;
height: 50vh;
margin-left: 25vw;
}

.contact-box {
  width: 50vw;
  margin-left: 25vw;
  justify-content: space-between;
}

.contact-form {
  width: 22vw;
  flex-direction: column;
}

.contact-form > h3 {
  margin-top: 2em;
}

.contact-details {
  line-height: 1.6;
}

.address > h3 {
  font-size: 24px;
  margin-top: 2em;
}

.address {
  margin-bottom: 2em;
}

.info-box > .info {
  font-size: 16px;
  width: 20vw;
}

.contact_form, .contact, .info, .street, .postal-code, .country {
  font-size: 18px;
  color: rgb(116, 115, 115);
  font-weight: lighter;
}

.country {
  margin-bottom: 1em;
}

input, textarea {
  width: 100%;
  height: 3.5vh;
  background: rgb(247, 247, 247);
}

.message > textarea {
  height: 15vh;
}

.fname, .lname, .email, .subject, .message, .send {
  line-height: 1.6;
}

.fname > input ,.lname > input, .email > input, .subject > textarea, .message > textarea {
  border-style: solid;
  border-width: 1px;
}

.fname > input:hover ,.lname > input:hover, .email > input:hover, .subject > textarea:hover, .message > textarea:hover {
	background: rgb(198, 198, 198);
}

.fname > input:focus ,.lname > input:focus, .email > input:focus, .subject > textarea:focus, .message > textarea:focus {
	background: rgb(198, 198, 198);
}


input[type=submit] {
  width: 10em;
  height: 4vh;
  font-weight: bold;
  background: rgb(59, 58, 58);
  color: rgb(237, 205, 32);
  float: right;
}

input[type=submit]:hover {
  background: rgb(237, 205, 31);
  color: black;
  border-style: none;
}

.contact-form > h3 {
  font-size: 24px;
}

.contact-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.contact-details > h3, .info-box > h3 {
  font-size: 24px;
  margin-top: 2em;
}




@media screen and (max-width: 1300px) {
  .logo {
    position: absolute;
    margin-left: 0px;
  }
}

@media screen and (max-width: 990px) {
  
  .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
  }

  nav {
    background: rgb(237, 205, 32);
    left: 0px;
  }

   .logo > a > img {
    height: 10vh;
    width: 90%;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  #logo-links {
    display: block;
  }

  #logo-image {
    width: 100%;
  }

  .nav-links {
    background: rgb(237, 205, 32);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(10vh at 90% -10%);
    -webkit-clip-path: circle(10vh at 90% -5%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(100vh at 90% -10%);
    -webkit-clip-path: circle(100vh at 90% 10%);
    pointer-events: all;
    margin-right: 0px;
  }

  .nav-links li a {
    font-size: 1.2rem;
  }
  
  .nav-links li a:focus, .nav-links li a:hover {
    color: black;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }

  .home > h1 {
    padding-top: 4em;
  }

  span.arrow {
    margin-bottom: 1em;
  }

  .arrow.open {
    transition: all 0.1s ease 0.1s;
    visibility: hidden;
  }

  .uslugi {
    transition: all 0.5s ease 0.4s;
  }

  .uslugi.open {
    transition: all 0.1s ease 0.1s;
    visibility: hidden;
  }

  .home {
    height: 35vh;
  }

  .home > h1 {
    font-size: 2rem;
  }

  .uslugi > h2, .projekty > .container > h2 {
    font-size: 2rem;
    margin-top: .8em;
    margin-bottom: .8em;
  }

  .card-box > h3 {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 2em;
  }

  .card-details > li {
    font-size: 1rem;
  }

  .about-box {
    background-color: rgb(247, 247, 247);
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 0;
    opacity: .9;
    padding-left: 0;
  }

  .about-box > h2 {
    padding-left: 2vw;
  }

  .about-box > span {
    padding-left: 2vw;
  }

  .about > .container {
    background-image: url("/images/about-image.png");
    background-repeat: no-repeat;
    background-size: 100vh;
  }

  .about-box > span {
    font-size: 1rem;

  }

  .about-box > h2 {
    font-size: 2rem;
  }



  .gallery-card {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .gallery-box {
    margin-bottom: 2em;
    align-self: center;
  }

  .gallery-box-2 {
    align-self: center;
    margin-left: 0;
  }

  .belt {
    height: 15vh;
  }

  .contact-box {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
  }

  .contact-details {
    display: flex;
    flex-direction: row;
  }

  .contact-details > h3{
    width: 20vw;
    margin-top: 1em;
  }

  .address {
    margin-bottom: 1em;
    width: 37.5vw;
  }

  .info-box {
    width: 37.5vw;
  }

  .info-box > .info {
    width: auto;
  }

  .contact_form {
    font-size: 1rem;
  }

  .address {
    font-size: 0.8rem;
  }


  .googlemap {
    margin-left: 12.5vw;
    width: 75vw;
  }

  .contact-box {
    margin-left: 12.5vw;
    width: 75vw;
  }

  .address > h3, .info-box > h3 {
    margin-top: 1em;
    margin-bottom: .1em;
  }

  .country {
    margin-bottom: .5em;
  }

  .kontakt > .container > h2 {
    font-size: 2rem;
  }


}

@media screen and (max-width: 600px) {


  .home {
    height: 40vh;
  }

  .uslugi > h2::before {
    display: none;
  }

  .projekty > .container > h2::before {
    display: none;
  }

  .kontakt > .container > h2::before {
    display: none;
  }

  .projekty > .container > h2::after {
    width: 220px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 100%;
  }

  .uslugi > h2::after {
    width: 150px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 100%;
}

.kontakt > .container > h2::after {
  width: 150px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 100%;
}

.container {
  flex-direction: column;
}

.card {
  width: 100%;
  margin-left: 1%;
}

.card-box {
  display: flex;
  flex-direction: column;
}

.card-details {
  text-align: center;
}

.card-box > h3 {
  margin-bottom: 0.1em;
}

.container > .about-box {
  width: 80%;
  margin-left: 10%;

}


.about > .container {
  background-size: auto 100%;
}

.box-image-1 {
  width: 90vw;
  background-position: center;
  background-size: 100% 100%;
}

.box-image-2 {
  width: 90vw;
  margin-top: 1em;
  background-position: center;
  background-size: 100% 100%;
}

.box-image-3 {
  width: 90vw;
  margin-top: 1em;
  background-position: center;
  background-size: 100% 100%;
}

.gallery-box {
  margin-bottom: 1em;
}

.gallery-box-2 > .box-image-1 {
  width: 90vw;
  background-position: center;
  background-size: 100% 100%;
}

.gallery-box-2 > .box-image-2 {
  width: 90vw;
  background-position: center;
  background-size: 100% 100%;
}

.gallery-box-2 > .box-image-3 {
  width: 90vw;
  background-position: center;
  background-size: 100% 100%;
}

.belt {
  height: 10vh;
}

.belt-line {
  display: none;
}

.googlemap {
  width: 90%;
  height: 50vh;
  margin-left: 5vw;
  }

  .contact-box {
    width: 91vw;
    margin-left: 4.5vw;
  }

  .contact-details {
    margin-top: 1em;
    justify-content: space-between;
  }

  .contact {
    width: auto;
  }

  input[type=submit] {
    width: 100%;
    height: 5vh;
    float: none;
}
  .send {
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .hamburger {
    right: 0px;
  }
  .nav-links.open {
    -webkit-clip-path: circle(100vh at 90% 5%);
  }

  .home {
    height: 45vh;
  }

  .home > h1 {
    font-size: 2rem;
  }

  .card-box > h3 {
    margin-bottom: .1em;
  }

  .box-image-1 {
    height: 45vh;
  }
  
  .box-image-2 {
    height: 45vh;
 
  }
  
  .box-image-3 {
    height: 45vh;

  }
  
  .gallery-box-2 > .box-image-1 {
    height: 45vh;

  }
  
  .gallery-box-2 > .box-image-2 {
    height: 45vh;

  }
  
  .gallery-box-2 > .box-image-3 {
    height: 45vh;
    
  }

  .belt {
    height: 5vh;
  }

  .contact-details {
    flex-direction: column;
  }



  .address {
    margin-left: 1vw;
  }

  .address > h3, .info-box > h3, .country {
    margin-top: auto;
    margin-bottom: 0.5em;
  }

  .contact {
    margin-top: auto;
  }

  .address, .info-box, .contact {
    width: 90vw;
  }
  
}
@media screen and (max-width: 320px) {

  span.arrow {
    margin-top: 2em;
  }

  #card-2 > .card-box > h3 {
    margin-bottom: .1em;
  }

  .card-box > h3 {
    margin-bottom: 1em;
}

  .home {
    height: 60vh;
  }


}